.etapa-a { background-color: #00a3ff !important; }
.etapa-p { background-color: #008be6 !important; }
.etapa-n { background-color: #0072cc !important; }
.etapa-c { background-color: #005bb3 !important; }
.etapa-x { background-color: #dc3545 !important; }
